@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

.roboto-regular {
  font-family: 'Roboto', sans-serif !important;
}

.roboto-light {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
}
